@if(profile){

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/logo3.jpg" alt="Logo" style="width:40px;">
      </a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#"></a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-4 left-pane" style="background-color: #ddf0d3;">
    <img [src]="profile.profilePicture" alt="Profile Picture" class="img-thumbnail img-fluid">

      <!-- Name and Location -->
      <div class="profile-info">
        <h1>{{ profile.name }}</h1>
        <p><strong>Location:</strong> {{ profile.location }}</p>
        <p><strong>Hourly Rate:</strong> R{{ profile.hourlyRate }} / hour</p>
      </div>

      <!-- Bio/Description Section -->
      <div class="profile-bio">
        <h2>Bio</h2>
        <p>{{ profile.bio }}</p>
      </div>

      <!-- Skills Section -->
      <div class="profile-skills">
        <h2>Skills</h2>
        <ul>
          @for(skill of profile.skills; track skill){
          <li>{{ skill }}</li>
          }

        </ul>
      </div>
    </div>


    <div class="col-8 right-pane" style="background-color: #d0e2c6;">
      <!-- Portfolio Section -->
      <div class="profile-portfolio">
        <h2>Portfolio</h2>
        @for(project of profile.portfolio; track project.link){
        <div class="portfolio-item">
          <a [href]="project.link" target="_blank">
            <p>{{ project.title }}</p>
          </a>
        </div>
        }

      </div>

      <!-- Social Media Links -->
      <div class="profile-social">
        <h2>Social Media Links</h2>
        <!-- <div *ngFor="let social of socialMedia"> -->
        <a [href]="profile.socialLinks.github" target="_blank">{{ profile.socialLinks.github }}</a> <br>
        <a [href]="profile.socialLinks.linkedin" target="_blank">{{ profile.socialLinks.linkedin }}</a>
        <!-- </div> -->
      </div>

      <!-- Contact Information -->
      <div class="profile-contact">
        <h2>Contact Information</h2>
        <p><strong>Email:</strong> {{ profile.contact.email }}</p>
        <p><strong>Phone:</strong> {{ profile.contact.phone }}</p>
      </div>
    </div>
  </div>
</div>
}
@else if(error){
  <p class="alert alert-danger">
    {{ error }}
  </p>
}
@else {
  <p>Loading Data...</p>
}


<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>© Copyright 2024 Romeo Khoza | All Rights Reserved</p>
</div>
